// Wide screens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
  #contact {
    .boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .sm-heading {
    font-size: 30px;
  }
}

// Desktops and laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  #contact {
    .boxes {
      display: block;
    }
  }
  .sm-heading {
    font-size: 25px;
  }
}

// Tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
    .sm-heading {
      font-size: 20px;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    // 1fr means 1 fraction
    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  #contact {
    .boxes {
      display: block;

      #email {
        font-size: 100%;
      }

      #phone {
        font-size: 100%;
      }
    }
  }
}

// smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 20vh;
    font-size: 4rem;
  }

  main#contact h1,
  main#work h1,
  main#about h1 {
    font-size: 4rem;
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  #contact {
    .boxes {
      display: block;
    }
  }
}
