@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
span,
h3,
h2 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.2);
  }
}

.txt-type {
  .txt {
    border-right: 3px solid set-text-color($primary-color);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  // to make the footer to stay at bottom
  min-height: calc(100vh - 60px);

  .icons {
    // 1 rem - size of html tag (16 px)
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    // Dont want to have any scoll bars
    overflow: hidden;

    h1 {
      // vh - viewport height
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  // repeat 3 times 1 fractional
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// contact page

#contact {
  .boxes {
    grid-gap: 30px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    div {
      font-size: 2rem;
      border: 3px white solid;
      padding: 1.5rem 2.5rem;
      margin-bottom: 3rem;
      border-radius: 5px;
      @include easeOut;

      &:hover {
        padding: 0.5rem 1.5rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}
#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  border-radius: 5px;
  background-color: grey;
}

// buttons styles (inheritance usage)
// btn is not used as a class
// So in sass we can extends this class
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  @extend .btn;
  background: darken($color: $primary-color, $amount: 50);
  color: #fff;
}

.btn-dark {
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 60px;
}

/* Animation */
.typing {
  border-right: solid 3px set-text-color($primary-color);
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: set-text-color($primary-color);
}
.typing {
  animation: animated-text 4s steps(50, end) 1s 1 normal both,
    animated-cursor 600ms steps(50, end) infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 540px;
  }
}

/* cursor animations */
@keyframes animated-cursor {
  from {
    border-right-color: set-text-color($primary-color);
  }
  to {
    border-right-color: transparent;
  }
}

// because we want this to run after the initial css
@import "mobile";
